<h2>Enjoy Yourself.</h2>

<% @links.each do |link| %>
<ul>
    <%= link_to link.title, link.url %>
    <br>
    
    <%= link.comments.count %><%= link_to ' Comments', link %>

    <i class="icon-arrow-up"></i><%= link_to 'Up Vote', votes_path({:vote => {:link_id => link.id, :up => true}}), :method => :post %>-
    <i class="icon-arrow-down"></i><%= link_to "Down Vote", votes_path(:vote => {:link_id => link.id, :up => false}), :method => :post %>
    <br>
    Total votes: <%=link.votes.where(up: true).count - link.votes.where(up: false).count%>
</ul>
<%end%>
<%= will_paginate @links %>


