<h3>Submit your link.</h3>
<h5>Please prefix URL with "HTTP://www."</h5>

<%=form_for(@link) do |f|%>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>
      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :title, placeholder: "Title..." %>
  <%= f.text_field :url, placeholder: "Format:    http://www.YourLink.com" %>
  <%= f.submit %>
<%end%>
